main {
    max-width: 100%;
    text-align: center;
    
}

header {
    height: 450px;
    text-align: center;
    max-width: auto;
    
}
nav ul {
    
    text-decoration: none;
    list-style-type: none;
    font-size: 25px;
    max-width: auto;
}


a {
    
    text-decoration: none;
    color: white;
    
}

.felsorolas {
    margin: auto;
    display: flex;
    gap: 70px;
}
nav {
    margin: auto;
    max-width: 56.5%;
    border: 1px solid white;
}
body {
    background-image: url(kepek/black.png);
    max-width: auto;
}

.container {
    color: white;
    height: 30px;
    font-size: 20px;
}

input {
    height: 30px;
    width: 500px;
}

.kuldes {
    width: 140px;
    height: 40px;
    font-size: 20px;
}

footer {
    color: white;
}

.w3-container {
    font-size: 23px;
    color: white;
}

.form-control {
    text-align: justify;
    width: 1000px;
    height: 300px;
}

.container {
    margin: auto;
}

.koszonjuk {
    color: white;
    font-size: 15px;
}


